html {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  color: rgb(106, 91, 110);
  scroll-behavior: smooth;
}

body {
  padding: 1%;
  background: rgb(224, 214, 248);
  background-image: linear-gradient(white 0.1em, transparent 0.1em),
    linear-gradient(90deg, white 0.1em, transparent 0.1em);
  background-size: 35px 35px;
}

/*--------------------NAV BAR----------------------*/

nav {
  width: 85vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  text-decoration: none;
  margin-top: 15px;
}

.menu-items {
  text-decoration: none;
  list-style: none;
  text-align-last: right;
  padding-left: 80px;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgb(251, 77, 61);
  text-shadow: 1.5px 1.5px rgb(106, 91, 110, 0.6);
}

.menu-link {
  text-decoration: none;
  color: rgb(251, 77, 61);
}

@media only screen and (max-width: 750px) {
  #menu {
    display: none;
  }
}

/*--------------------CONTENT----------------------*/

.section-containers {
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  width: 85vw;
  min-height: 70vh;
  position: relative;
  box-shadow: 13px 13px rgba(106, 91, 110, 0.8);
}

h2 {
  width: 85vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgb(251, 77, 61);
  text-shadow: 1.5px 1.5px rgb(106, 91, 110, 0.6);
}

/*--------------------WELCOME----------------------*/

#welcome-container {
  margin-top: 8vh;
}

/*------------------MEMORY GAME--------------------*/

#section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
  box-shadow: none;
}

#first-column {
  width: 550px;
  height: 550px;
  background-color: white;
  position: relative;
  overflow: scroll;
  box-shadow: 11px 11px rgba(106, 91, 110, 0.8);
}

#second-column {
  width: 550px;
  height: 550px;
  background-color: white;
  position: relative;
  box-shadow: 11px 11px rgba(106, 91, 110, 0.8);
}

#table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 450px;
  height: 450px;
  padding: 20px;
  perspective: 1000px; /*property sets how far in the z plane the object is from the user. The lower the value the bigger the perspective effect.*/
}

.cards {
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 3px;
  box-shadow: 3px 3px 7px rgba(119, 46, 46, 0.2);
  position: relative;
  transform-style: preserve-3d; /*to position them in the 3D space created in the parent, instead of flattening it to the z = 0 plane*/
  transform: scale(1);
  transition: transform 0.5s;
}

.cards:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  transition: transform 0.5s;
}

.back {
  position: absolute;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgb(170, 223, 171);
}

.front {
  position: absolute;
  width: 70%;
  margin: 15%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

#description-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  margin: 0;
  padding: 0;
}

.description {
  max-width: 390px;
  height: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.082);
}

/*----------------PROJECT CAROUSEL------------------*/

#project-carousel {
  background-color: lavenderblush;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*  translate moves an element up and down or side-to-side: By indicating one value, you move the element to the right side. Negative values move elements to the left.*/
}

.projects {
  background-color: white;
  border: 2px solid grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.active {
  background-color: white;
  z-index: 90;
  opacity: 1;
  box-shadow: 3px 3px 7px rgba(111, 46, 119, 0.2);
}

.prev {
  background-color: white;
  z-index: 2;
  opacity: 0.25;
  transform: translate(-75%, -50%);
}

.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-25%, -50%);
}

#project-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  z-index: 100;
}

.arrow-button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
}

.arrow-button:hover {
  opacity: 1;
}

.arrow-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: grey;
  z-index: -99;
}

#button-left {
  float: left;
}

#button-right {
  float: right;
}

/*---------------------LINKS----------------------*/
#section3 {
  width: 50vw;
  min-height: 40vh;
}

#link-container {
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.link-icons {
  background-color: rgb(170, 223, 171);
  width: 85px;
  height: 85px;
  margin: 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 4.5rem;
  box-shadow: 5px 5px rgba(106, 91, 110, 0.8);
}

/*--------------------FOOTER----------------------*/

footer {
  width: 85vw;
  min-height: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: wheat;
}
