html {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  color: rgb(106, 91, 110);
  scroll-behavior: smooth;
}

body {
  padding: 1%;
  background: rgb(224, 214, 248);
  background-image: linear-gradient(white 0.1em, transparent 0.1em),
    linear-gradient(90deg, white 0.1em, transparent 0.1em);
  background-size: 35px 35px;
}

/*--------------------NAV BAR----------------------*/

nav {
  width: 85vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  width: 81.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  text-decoration: none;
  margin-top: 15px;
}

.menu-items {
  text-decoration: none;
  list-style: none;
  text-align-last: right;
  padding-left: 80px;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgb(251, 77, 61);
  text-shadow: 1.5px 1.5px rgb(106, 91, 110, 0.6);
}

.menu-items:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.menu-link {
  text-decoration: none;
  color: rgb(251, 77, 61);
}

.menu-link:hover {
  color: rgb(106, 91, 110);
}

@media only screen and (max-width: 750px) {
  #menu {
    display: none;
  }
}

#hamburger-menu-container {
  position: relative;
}

#hamburger-menu {
  background-color: rgb(106, 91, 110);
  color: white;
  box-shadow: 3px 3px white;
  font-size: 35px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 5px 10px;
  width: auto;
  z-index: 200;
  cursor: pointer;
}

#hamb-menu-items {
  position: fixed;
  top: 10%;
  right: 0;
  margin: 15px;
  padding: 30px;
  width: 200px;
  height: auto;
  background: rgba(106, 91, 110, 0.9);
  box-shadow: 5px 5px white;
  z-index: 199;
}

.hamb-items {
  text-decoration: none;
  list-style: none;
  text-align-last: right;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgb(251, 77, 61);
  text-shadow: 1.5px 1.5px rgb(106, 91, 110, 0.6);
  margin-top: 30px;
}

.hamb-items:active {
  transform: scale(0.98);
  transition: transform 0.2s;
}

#close-menu {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}

/*--------------------CONTENT----------------------*/

.section-containers {
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  width: 85vw;
  min-height: 70vh;
  position: relative;
  box-shadow: 13px 13px rgba(106, 91, 110, 0.8);
}

h2 {
  width: 85vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgb(251, 77, 61);
  text-shadow: 1.5px 1.5px rgb(106, 91, 110, 0.6);
}

/*--------------------WELCOME----------------------*/

#welcome-container {
  margin-top: 8vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 3%;
}

#welcome-message {
  background-color: rgb(170, 223, 171, 0.6);
  width: 80vw;
  height: 65vh;
  display: block;
  margin: 0 auto 0 auto;
}

/*------------------MEMORY GAME--------------------*/

#section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
  box-shadow: none;
}

#first-column {
  width: 550px;
  height: 550px;
  background-color: white;
  position: relative;
  overflow: scroll;
  box-shadow: 11px 11px rgba(106, 91, 110, 0.8);
}

#second-column {
  width: 550px;
  height: 550px;
  background-color: white;
  position: relative;
  box-shadow: 11px 11px rgba(106, 91, 110, 0.8);
}

#game-start {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 400px;
  width: 485px;
  height: 485px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 105;
}

#game-start-button {
  display: block;
  margin: 47% auto;
  width: 15vw;
  padding: 1.5vh 0;
  background: rgba(106, 91, 110, 0.9);
  border: none;
  box-shadow: 4px 4px rgb(251, 77, 61);
  color: rgb(170, 223, 171);
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: 1.5px 1.5px rgba(106, 91, 110);
  cursor: pointer;
  visibility: visible;
}

#game-start-button:active {
  transform: scale(0.98);
  transition: transform 0.5s;
}

#table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 450px;
  height: 450px;
  padding: 20px;
  perspective: 1000px; /*property sets how far in the z plane the object is from the user. The lower the value the bigger the perspective effect.*/
}

.cards {
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 3px;
  box-shadow: 3px 3px 7px rgba(119, 46, 46, 0.2);
  position: relative;
  transform-style: preserve-3d; /*to position them in the 3D space created in the parent, instead of flattening it to the z = 0 plane*/
  transform: scale(1);
  transition: transform 0.5s;
  cursor: grab;
  cursor: -moz-grab;
}

.cards:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  transition: transform 0.5s;
}

.back {
  position: absolute;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgb(170, 223, 171);
}

.front {
  position: absolute;
  width: 70%;
  margin: 15%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

#game-rules {
  margin: 15%;
  text-align: justify;
}

#game-rules h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(170, 223, 171);
}

#open-all-description {
  color: rgb(251, 77, 61);
  font-weight: 600;
  cursor: pointer;
}

#open-all-description:hover {
  color: rgb(170, 223, 171);
}

#description-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-x: scroll;
}

.description {
  max-width: inherit;
  height: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 10px;
  overflow: scroll;
  text-align: center;
}

.close-button {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 5%;
  text-align: center;
  font-size: 1.2rem;
  width: 40px;
  padding: 10px 0;
  background-color: rgb(106, 91, 110);
  color: white;
}

.description-icon {
  width: 5vw;
}

.description-p {
  text-align: justify;
  font-size: clamp(0.8rem, 0.6909rem + 0.4364vw, 1.1rem);
  line-height: 1.5;
}

.description-images {
  width: 70%;
  margin-top: 10px;
  box-shadow: 3px 3px 7px rgba(119, 46, 46, 0.2);
}

/*----------------PROJECT CAROUSEL------------------*/

#section2 {
  background-color: transparent;
  box-shadow: none;
}

#project-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*  translate moves an element up and down or side-to-side: By indicating one value, you move the element to the right side. Negative values move elements to the left.*/
}

.projects {
  background-color: white;
  border: 2px solid rgba(106, 91, 110, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
  padding: 5px;
}

.active {
  background-color: white;
  z-index: 90;
  opacity: 1;
  box-shadow: 8px 8px rgba(106, 91, 110);
}

.prev {
  background-color: white;
  z-index: 2;
  opacity: 0.95;
  transform: translate(-75%, -50%);
  box-shadow: 4px 4px rgba(106, 91, 110, 0.8);
}

.next {
  z-index: 2;
  opacity: 0.95;
  transform: translate(-25%, -50%);
  box-shadow: 4px 4px rgba(106, 91, 110, 0.8);
}

#project-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  z-index: 100;
}

.arrow-button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
}

.arrow-button:hover {
  opacity: 1;
}

.arrow-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(106, 91, 110, 0.8);
  z-index: -99;
}

#button-left {
  float: left;
}

#button-right {
  float: right;
}

.prompt-title {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(170, 223, 171);
}

.project-flex {
  display: block;
}

.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 30vw;
  height: 100%;
}

.project-img {
  width: 25vw;
  display: block;
}

#project-img2:hover {
  filter: none;
}

#project-img1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  z-index: -1;
  filter: grayscale(100%);
}

#project-img2 {
  padding-top: 90px;
  padding-right: 20%;
  width: 60%;
  filter: grayscale(100%);
}

.text-container {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5%;
}

.project-description {
  position: relative;
}

.project-icons {
  width: 45px;
  padding: 5px;
}

.project-icons:hover {
  background-color: rgb(170, 223, 171);
}

.tooltiptext-projects {
  visibility: hidden;
  width: 130px;
  background-color: rgba(106, 91, 110, 0.8);
  color: white;
  font-size: 0.6rem;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  top: 57px;
  left: -35px;
  z-index: 150;
}

.project-description:hover .tooltiptext-projects {
  visibility: visible;
}

/*---------------------LINKS----------------------*/
#section3 {
  width: 50vw;
  min-height: 40vh;
}

#link-container {
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.link-icons {
  position: relative;
  background-color: rgb(170, 223, 171);
  width: 85px;
  height: 85px;
  margin: 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 4.5rem;
  box-shadow: 5px 5px rgba(106, 91, 110, 0.8);
}

.tooltiptext-links {
  visibility: hidden;
  width: 130px;
  background-color: rgba(106, 91, 110, 0.8);
  color: white;
  font-size: 0.6rem;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  top: 100px;
  left: -20px;
  z-index: 150;
}

.link-icons:hover .tooltiptext-links {
  visibility: visible;
}

.link-icons:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}

/*--------------------FOOTER----------------------*/

footer {
  width: 85vw;
  min-height: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: wheat;
}
